:root {
  --yellowlight:#FDE26F;
  --yellowlemon:#E5C959;
  --green: #5cd65c;
  --bluedark:#388C98;
  --bluelight:#54C5C4;
  --graydark:#17a2b8;
}
body{
   font-family: 'Josefin Sans', sans-serif !important;
   background: white !important;
}
.text-title{
  color: black;
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif !important;
}
